#footer{
    position: absolute;
    bottom: 1%;
    right: 0;
    width: 100%;
}
#footer h2{
    text-align: center;
    margin: 0;
}

#dropdownMenuButton {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
#dropdownMenuButton {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

/* ЛЕВЫЙ САЙДБАР */
.sidebar {
    margin: 0;
    padding: 0;
    width: 240px;
    background-color: #303030;
    position: absolute;
    height: 90%;
    overflow: auto;
  }
/* Сайдбар ссылки */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  /* Ссылки при наведении мыши */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  /* Содержание страницы. Значение свойства margin-left должно соответствовать значению свойства width боковой панели */
  div.content {
    margin-left: 240px;
    padding: 1px 16px;
    height: 100%;
  }

  /* На экранах шириной менее 700 пикселей превратить боковую панель в верхнюю панель */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  /* На экранах размером менее 400 пикселей панель отображать вертикально, а не горизонтально */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

    /* Поисковик */
.d7 {padding-right: 32%;}
.d7:after {content:""; clear:both; display:table}
.d7 form {
  width: auto;
  float: right;
  margin-right: 30px;
  position: relative;
  margin: 0 auto;
}
.d7 input {
  width: 30em;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.d7 input:focus {
  width: 32em;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  right: 0;
}
.d7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}

@media screen and (max-width: 1100px) {
  .d7 {padding-right: 12%;}
}

@media screen and (max-width: 1000px) {
  .d7 {padding-right:5%;}
  .d7 input {
    width: 340%;
    height: auto;
    position: relative;
  }
  .d7 input:focus {
    width: 43.1em;
  }
  .d7 button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    left: 40.5em;
    top:-5px;
  }
}


@media screen and (max-width: 900px) {
  .d7 {padding-right:0;}
  .d7 input {
    width: 250%;
    height: auto;
    position: relative;
  }
  .d7 input:focus {
    width: 31.6em;
  }
  .d7 button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top:-5px;
  }
}

@media screen and (max-width: 800px) {
  .d7 {padding-right:0;}
  .d7 input {
    width: 100%;
    height: auto;
    position: relative;
  }
  .d7 input:focus {
    width: 16em;
  }
  .d7 button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top:-5px;
  }
}


 /* МОДАЛЬНОЕ ОКНО */
body {font-family: Arial, Helvetica, sans-serif;}

button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content-animate {
    background-color: #171717;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.closer {
    position: absolute;
    right: 25px;
    top: 0;
    font-size: 35px;
    font-weight: bold;
    top: -32px;
    right: 10px;
}

.closer:hover,
.closer:focus {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
