@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Что бы логотип был рядом с меню */
.navbar.navbar-light.nav-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border: none;
}

.table.table-sklad {
  width: 40em;
  margin: auto;
}

.navbar-brand {
  font-family: 'RocknRoll One', sans-serif;
}
